@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Trispace:wght@100;500&display=swap');

*{
    text-align: center;
}
h2{
    font-family: 'Trispace', sans-serif;
    color: #f50c0c;
}

p{
    font-family: 'Sofia', cursive;
    font-size: 16px;
}

p::first-letter{
    color: rgb(47, 50, 236);
    font-size: 200%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

img{
    width: 160px;
    height: 80px;
    margin-right: 5px;
}

span{
    color: #f50c0c;
}