@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Trispace:wght@100;500&display=swap');

*{
    text-align: center;
}
nav{
    display: flex;
    justify-content: right;
}

.logo{
    width: 20%;
    height: 50px;
    color: red;
    margin: 0%;
    float: left;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

ul > li{
    padding-left: 5px;
  }

  li > a{
    text-decoration: none;
  }
  li > a:hover {
    color: hotpink;
}


h2{
    font-family: 'Trispace', sans-serif;
    color: #f50c0c;
}

p{
    font-family: 'Sofia', cursive;
    font-size: 16px;
}

p::first-letter{
    color: rgb(47, 50, 236);
    font-size: 200%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


span{
    color: #f50c0c;
}


